<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="农码一生为了谁,70KG,灵魂画师"/>
    <meta name="description" content="农码一生为了谁,70KG,灵魂画师"/>
    <link rel="shortcut icon" th:href="@{/user/img/favicon.png}"/>
    <link rel="apple-touch-icon" th:href="@{/user/img/apple-touch-icon.png}"/>
    <title>灵魂画师</title>
</head>
<body>
<script th:src="@{/user/js/harmony.js}"></script>
<script>
    harmony();
</script>
<div>
    <canvas width="1600" height="763" style="cursor: crosshair;"></canvas>
</div>
<canvas style="width:100%;height:100%;cursor:crosshair;"></canvas>

</body>
</html>