<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmys.story.mapper.ContentsMapper">
    <resultMap id="BaseResultMap" type="com.nmys.story.model.entity.Contents">
        <id column="cid" jdbcType="INTEGER" property="cid" />
        <result column="title" jdbcType="INTEGER" property="title" />
        <result column="slug" jdbcType="VARCHAR" property="slug" />
        <result column="created" jdbcType="INTEGER" property="created" />
        <result column="modified" jdbcType="INTEGER" property="modified" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="authorId" jdbcType="INTEGER" property="authorId" />
        <result column="hits" jdbcType="INTEGER" property="hits" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="fmt_type" jdbcType="VARCHAR" property="fmtType" />
        <result column="thumb_img" jdbcType="VARCHAR" property="thumbImg" />
        <result column="tags" jdbcType="VARCHAR" property="tags" />
        <result column="categories" jdbcType="VARCHAR" property="categories" />
        <result column="status" jdbcType="VARCHAR" property="status" />
        <result column="comments_num" jdbcType="INTEGER" property="commentsNum" />
        <result column="allow_comment" jdbcType="BIT" property="allowComment" />
        <result column="allow_ping" jdbcType="BIT" property="allowPing" />
        <result column="allow_feed" jdbcType="BIT" property="allowFeed" />
    </resultMap>


    <update id="updateContent" parameterType="com.nmys.story.model.entity.Contents">
        update t_contents
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug,jdbcType=VARCHAR},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=INTEGER},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=INTEGER},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="tags != null">
                tags = #{tags,jdbcType=VARCHAR},
            </if>
            <if test="fmtType != null">
                fmt_type = #{fmtType,jdbcType=VARCHAR},
            </if>
            <if test="thumbImg != null">
                thumb_img = #{thumbImg,jdbcType=VARCHAR},
            </if>
            <if test="categories != null">
                categories = #{categories,jdbcType=VARCHAR},
            </if>
            <if test="hits != null">
                hits = #{hits,jdbcType=INTEGER},
            </if>
            <if test="commentsNum != null">
                comments_num = #{commentsNum,jdbcType=INTEGER},
            </if>
            <if test="allowComment != null">
                allow_comment = #{allowComment,jdbcType=BIT},
            </if>
            <if test="allowPing != null">
                allow_ping = #{allowPing,jdbcType=BIT},
            </if>
            <if test="allowFeed != null">
                allow_feed = #{allowFeed,jdbcType=BIT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>


    <!--<insert id="saveComment" parameterType="com.nmys.story.model.entity.Comments" useGeneratedKeys="true" keyProperty="coid">-->
        <!--insert into t_comments (coid, cid, created,-->
        <!--author, author_id, owner_id,-->
        <!--mail, url, ip, agent,-->
        <!--type, status, parent,-->
        <!--content)-->
        <!--values (#{coid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{created,jdbcType=INTEGER},-->
        <!--#{author,jdbcType=VARCHAR}, #{author_id,jdbcType=INTEGER}, #{owner_id,jdbcType=INTEGER},-->
        <!--#{mail,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},-->
        <!--#{agent,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},-->
        <!--#{parent,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})-->
    <!--</insert>-->

    <!--<delete id="delCommentById">-->
        <!--DELETE FROM t_comments WHERE coid = #{id}-->
    <!--</delete>-->

    <!--<insert id="saveUser" parameterType="com.nmys.story.model.entity.Users" useGeneratedKeys="true" keyProperty="uid">-->
    <!--INSERT INTO t_users (uid, username, password,-->
    <!--email, home_url, screen_name,-->
    <!--created, activated, logged,-->
    <!--group_name)-->
    <!--VALUES (#{uid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},-->
    <!--#{email,jdbcType=VARCHAR}, #{home_url,jdbcType=VARCHAR}, #{screen_name,jdbcType=VARCHAR},-->
    <!--#{created,jdbcType=INTEGER}, #{activated,jdbcType=INTEGER}, #{logged,jdbcType=INTEGER},-->
    <!--#{group_name,jdbcType=VARCHAR})-->
    <!--</insert>-->

    <!--<select id="getUserByUserNameAndPassword" resultMap="BaseResultMap">-->
    <!--SELECT * FROM t_users WHERE username = #{username} and password = #{password}-->
    <!--</select>-->

    <!--<select id="selectUserByUsername" resultMap="BaseResultMap">-->
    <!--SELECT * FROM t_users WHERE username = #{username}-->
    <!--</select>-->

    <!--<select id="selectCommentCount" resultType="java.lang.Integer">-->
        <!--SELECT count(*) FROM t_comments-->
    <!--</select>-->

    <!--<select id="selectCommentByid" resultMap="BaseResultMap">-->
        <!--SELECT * from t_comments WHERE cid = #{id}-->
    <!--</select>-->

    <!--<select id="selectNewComments" resultMap="BaseResultMap">-->
        <!--SELECT * FROM  t_comments ORDER BY created DESC-->
    <!--</select>-->
    <select id="getContentsByType" resultMap="BaseResultMap">
        SELECT * from t_contents WHERE type = #{type} AND status = #{status} ORDER BY created DESC
    </select>

    <select id="getContentById" resultMap="BaseResultMap">
        SELECT * FROM t_contents WHERE cid = #{id}
    </select>
</mapper>