<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmys.story.mapper.UserPermissionMapper">

    <resultMap id="permission" type="com.nmys.story.model.entity.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByUserName" resultMap="permission">
        SELECT
            p.id,
            p.url,
            p.name
        FROM t_role r
            LEFT JOIN t_user_role ur ON (r.id = ur.rid)
            LEFT JOIN t_users u ON (u.uid = ur.user_id)
            LEFT JOIN t_role_permission rp ON (rp.rid = r.id)
            LEFT JOIN t_permission p ON (p.id = rp.pid)
        WHERE u.username = #{userName}
    </select>

</mapper>