<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmys.story.mapper.UserRoleMapper">

    <resultMap id="role" type="com.nmys.story.model.entity.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findByUserName" resultMap="role">
        SELECT
            r.id,
            r.name,
            r.memo
        FROM t_role r
            LEFT JOIN t_user_role ur ON (r.id = ur.rid)
            LEFT JOIN t_users u ON (u.uid = ur.user_id)
        WHERE u.username = #{userName}
    </select>

</mapper>